<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="ua" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">


		<title>Список агентів</title>
		
		<link href="/css/shared.css" rel="stylesheet" type="text/css">
		<link href="/css/Site.css" rel="stylesheet" type="text/css">

</head>
    <body>


	
	<br>
	<div class="box-wrapper">

		<header>
			<div class="content-wrapper">
				
				
				<table width="100%" cellspacing="0" cellpadding="0" border="0">
				<tbody><tr><td>


					<table cellspacing="10" cellpadding="0" border="0"><tbody><tr><td><a href="/"><img class="no-border" src="/images/log.gif" ></a></td><td> &nbsp;&nbsp;
					</td><td style="padding-left:20px;" class="logo-area">СПИСОК АГЕНТІВ</td>

					</tr></tbody></table>

				</td><td align="right">

				<table cellspacing="10" cellpadding="0" border="0">

					<tbody><tr><td id="menutable" nowrap="nowrap"><a href="/me" class="menu">Моя сторінка</a></td>



						<td>

							<a th:href="@{'/logout'}" class="menu-backoffice"><img class="no-border" src="/images/agents-only.gif" alt="Agents Only Back Office"></a>

						</td>


					</tr></tbody></table>
				
				</td></tr></tbody></table>
				

			</div>
		</header>

		<div id="body">

			<section class="content-wrapper main-content clear-fix">
				
				
<div class="description">
<h1 align="center">Список агентів</h1>
<br>
<table width="100%" cellspacing="10" cellpadding="0" border="1" align="center" style="border-collapse: collapse;" >
<tbody>
<tr>
           <th>Ід</th>
             <th>Кодове Ім'я</th>
             <th>Роль</th>
            <th>Статус</th>
            <th>Країна</th>
            <th colspan="2">Операції</th>
        </tr>
			 <tr th:each="agent : ${agents}">
            <td th:text="${agent.id}"/>
            <td th:text="${agent.codeName}"/>
            
            <td th:text="${agent.role}"/>
            <td th:text="${agent.status}"/>
            <td th:text="${agent.countryByCountryId.name}"/>
            <td ><center><a th:href="@{'/agents/delete/' + ${agent.id}}">Видалити</a></center></td>
            <td ><center><a th:href="@{'/agents/edit/' + ${agent.id}}">Редагувати</a></center></td>
        </tr>
<tr>
	<td colspan="7" align="right"><a th:href="@{'/agents/add/'}">Додати агента</a></td>
</tr>
</tbody></table>

</div>

			</section>

		</div>
		<footer>
			<div class="content-wrapper">

				<table width="100%" border="0">
					<tbody>
					<tr><td>

						FEIT| KI-143| Yevhenii Pshenychnyi | Oleksandr Derkach| All rights reserved - Secret Agency. © 2017</td>
					</tr></tbody></table>


			</div>
		</footer>
    	
	</div> 

	</div></body></html>