<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Title</title>
</head>
<body>
<div>
        <form action="#" th:action="@{/recstaff/add/submit}" th:object="${item}" method="post">
        <p>
            Full name
            <input type="text" th:field="*{name}"/>
        </p>
        Birthdate
        <p>
            <input type="date" th:field="*{date}"/>
        </p>
        <p>
            <select th:field="*{sex}">
                <option th:value="M" th:text="M"></option>
                <option th:value="F" th:text="F"></option>
            </select>
        </p>

        Country
        <p>
            <select th:field="*{countryByCountryId}">
                <option th:each="country : ${countries}" th:value="${country.id}" th:text="${country.name}"></option>
            </select>
        </p>
        <button type="submit">Сохранить</button>
    </form>
</div>
</body>
</html>