<!DOCTYPE html>
<html lang="ua" xmlns:th="http://www.thymeleaf.org" lang="ua"  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"><head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">


		<title>Завербований персонал</title>
		
		<link href="/css/shared.css" rel="stylesheet" type="text/css">
		<link href="/css/Site.css" rel="stylesheet" type="text/css">

</head>
    <body>


	
	<br>
	<div class="box-wrapper">

		<header>
			<div class="content-wrapper">
				
				
				<table width="100%" cellspacing="0" cellpadding="0" border="0">
				<tbody><tr><td>


					<table cellspacing="10" cellpadding="0" border="0"><tbody><tr><td><a href="/"><img class="no-border" src="/images/log.gif" ></a></td><td> &nbsp;&nbsp;
					</td><td style="padding-left:20px;" class="logo-area">СПИСОК ЗАВЕРБОВАНОГО ПЕРСОНАЛУ</td>

					</tr></tbody></table>

				</td><td align="right">

				<table cellspacing="10" cellpadding="0" border="0">

					<tbody><tr><td id="menutable" nowrap="nowrap"><a href="/me" class="menu">Моя сторінка</a></td>



							<td>

								<a th:href="@{'/logout'}" class="menu-backoffice"><img class="no-border" src="/images/agents-only.gif" alt="Agents Only Back Office"></a>

							</td>


						</tr></tbody></table>
				
				</td></tr></tbody></table>
				

			</div>
		</header>

		<div id="body">

			<section class="content-wrapper main-content clear-fix">
				
				
<div class="description">
<h1 align="center">Завербований персонал</h1>
<br>
<table width="100%" cellspacing="10" cellpadding="0" border="1" align="center" style="border-collapse: collapse;" >
<tbody>
<tr>
           <th>Ід</th>
            <th>Ім'я</th>
            <th>Дата народження</th>
            <th>Стать</th>
            <th>Країна</th>
            <th colspan="2">Операції</th>
        </tr>
			<tr  th:each="staff : ${staffs}">
            <td th:text="${staff.id}"/>
            <td th:text="${staff.name}"/>
            <td th:text="${staff.date}"/>
            <td th:text="${staff.sex}"/>
            <td th:text="${staff.countryByCountryId.name}"/>
            <td ><center><a th:href="@{'/recstaff/delete/' + ${staff.id}}">Видалити</a></center></td>
            <td ><center><a th:href="@{'/recstaff/edit/' + ${staff.id}}">Редагувати</a></center	></td>
        </tr>
<tr>
	<td colspan="7" align="right"><a th:href="@{'/recstaff/add/'}">Додати завербований персонал</a></td>
</tr>
</tbody></table>

</div>

			</section>

		</div>
		<footer>
			<div class="content-wrapper">

				<table width="100%" border="0">
					<tbody>
					<tr><td>

						FEIT| KI-143| Yevhenii Pshenychnyi | Oleksandr Derkach| All rights reserved - Secret Agency. © 2017</td>
					</tr></tbody></table>


			</div>
		</footer>
	</div> 


</div></body></html>