<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru"  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Title</title>
</head>
<body>
<div>
    <table>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Birthdate</th>
            <th>Sex</th>
            <th>Country</th>
            <th colspan="2">Operations</th>
        </tr>

        <tr th:each="staff : ${staffs}">
            <td th:text="${staff.id}"/>
            <td th:text="${staff.name}"/>
            <td th:text="${staff.date}"/>
            <td th:text="${staff.sex}"/>
            <td th:text="${staff.countryByCountryId.name}"/>
            <td ><a th:href="@{'/recstaff/delete/' + ${staff.id}}">Delete</a></td>
            <td ><a th:href="@{'/recstaff/edit/' + ${staff.id}}">Edit</a></td>
        </tr>

    </table>
</div>
</body>
</html>