	<!DOCTYPE html>
<html lang="ua" xmlns:th="http://www.thymeleaf.org" lang="ua"  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"><head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">


		<title>Країни</title>
		
		<link href="../css/shared.css" rel="stylesheet" type="text/css">
		<link href="../css/Site.css" rel="stylesheet" type="text/css">

</head>
    <body>


	
	<br>
	<div class="box-wrapper">

		<header>
			<div class="content-wrapper">
				
				
				<table width="100%" cellspacing="0" cellpadding="0" border="0">
				<tbody><tr><td>


					<table cellspacing="10" cellpadding="0" border="0"><tbody><tr><td><a href="http://www.perkley.com/"><img class="no-border" src="../images/log.gif" ></a></td><td> &nbsp;&nbsp;
					</td><td style="padding-left:20px;" class="logo-area">СПИСОК КРАЇН</td>

					</tr></tbody></table>

				</td><td align="right">

				<table cellspacing="10" cellpadding="0" border="0">

					<tbody><tr><td id="menutable" nowrap="nowrap"><a href="../me/mypage.html" class="menu">Моя сторінка</a></td>



						<td>

							<a href="th:href="@{'/logout'}"" class="menu-backoffice"><img class="no-border" src="../images/agents-only.gif" alt="Agents Only Back Office"></a>

						</td>


					</tr></tbody></table>
				
				</td></tr></tbody></table>
				

			</div>
		</header>

		<div id="body">

			<section class="content-wrapper main-content clear-fix">
				
				
<div class="description">
<h1 align="center">Країни</h1>
<br>
<table width="100%" cellspacing="10" cellpadding="0" border="1" align="center" style="border-collapse: collapse;" >
<tbody>
<tr>
           <th>Ід</th>
            <th>Ім'я</th>
            <th colspan="2">Операції</th>
        
		<tr th:each="country : ${countries}">
            <td width="100" th:text="${country.id}"/>
            <td width="400" th:text="${country.name}"/>
            <td ><center><a th:href="@{'/countries/delete/' + ${country.id}}">Видалити</a></center></td>
            <td ><center><a th:href="@{'/countries/edit/' + ${country.id}}">Редагувати</a></center></td>
        </tr>
</tbody></table>

</div>

			</section>

		</div>
		<footer>
			<div class="content-wrapper">
				
					 <table width="100%" border="0"><tbody><tr><td><a href="http://www.perkley.com/privacy-policy" class="colorGreen" style="text-decoration:none;" title="Read Privacy Policy" target="_blank">Privacy Policy</a>  | <a href="http://www.perkley.com/terms-of-use/" class="footer" title="Terms of Use" target="_blank">Terms Of Use</a> | <a href="http://www.perkley.com/contact/" class="footer" title="Contact Us">Contact Us</a>  |  All rights reserved - Perkley, LLC. © 2012-2017</td>
<td align="right"><span style="color:#999999;font-size:13px;padding-right:20px;">This website is solely for entertainment purposes</span></td></tr></tbody></table>

				
			</div> 
		</footer>
    	
	</div> 
<img src="images/spacer.gif" width="1" height="10">
    


	

<div role="log" aria-live="assertive" aria-relevant="additions" class="ui-helper-hidden-accessible"></div>
<div role="log" aria-live="assertive" aria-relevant="additions" class="ui-helper-hidden-accessible"></div><div role="log" aria-live="assertive" aria-relevant="additions" class="ui-helper-hidden-accessible"></div></body></html>