<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru"
xmlns:sec="http://www.springframework.org/security/tags">
<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">


		<title>Приватна сторінка</title>
		
		<link href="/css/shared.css" rel="stylesheet" type="text/css">
		<link href="/css/Site.css" rel="stylesheet" type="text/css">

</head>
    <body>
    <br> </br>
    <div class="box-wrapper">
        <header>
            <div class="content-wrapper">
                <table width="100%" cellspacing="0" cellpadding="0" border="0">
                    <tbody><tr><td>

                        <table cellspacing="10" cellpadding="0" border="0"><tbody><tr><td>
                            <a href="/"><img class="no-border" th:src="@{images/log.gif}"></img></a></td>
                            &nbsp;&nbsp;

                            <td style="padding-left:20px;" class="logo-area"></td>



                        </tr></tbody></table>

                    </td><td align="right">



                        <table cellspacing="10" cellpadding="0" border="0">





                            <tbody><tr><td id="menutable" nowrap="nowrap"><a href="/me" class="menu">Моя сторінка</a></td>



                                <td>

                                    <a th:href="@{'/logout'}" class="menu-backoffice"><img class="no-border" src="/images/agents-only.gif" alt="Agents Only Back Office"></a>

                                </td>


                            </tr></tbody></table>




                    </td></tr></tbody></table>


            </div>
        </header>

		<div id="body">

			<section class="content-wrapper main-content clear-fix">
				
				
<div class="description">
<h2 align="center" th:text="'Ця сторінка користувача ' + ${agent.codeName}"></h2>
<br>

    <div><a th:href="@{'/me/declassified/'}">Мене викрили(врятуйте мене)</a></div>

    <div th:if="${agent.status}">
        <div>Extremely dangerous message!!! If you see this message, then death is close)</div>
    </div>
    <div th:unless="${agent.status}">
        <div th:text=" 'Агенте, ' + ${agent.codeName} + '. Все добре не хвилюйтесь.'"></div>
    </div>
<table width="100%" cellspacing="10" cellpadding="0" border="1" align="center" style="border-collapse: collapse;" >
<tbody>

           <tr>
                <th>Ід</th>
                <th width="300">Ім'я</th>
                <th width="200">Агент</th>
                <th width="200" >Країна</th>
                <th colspan="2">Операції</th>
            </tr>

            <tr th:each="doc : ${myDocs}">
                <td th:text="${doc.id}"/>
                <td th:text="${doc.name}"/>
                <td th:text="${doc.agentByAgentId.codeName}"/>
                <td th:text="${doc.countryByCountryId.name}"/>
                <td ><center><a th:href="@{'/stolendocs/delete/' + ${doc.id}}">Видалити</a></center></td>
                <td ><center><a th:href="@{'/stolendocs/edit/' + ${doc.id}}">Редагувати</a></center></td>
            </tr>
</tbody></table>

<br>

    <table width="100%" cellspacing="10" cellpadding="0" border="1" align="center" style="border-collapse: collapse;" >
        <tbody>

        <tr>
            <th >Ід</th>
            <th width="300">Ім'я</th>
            <th width="150">Дата народження</th>
            <th>Стать</th>
            <th>Країна</th>
            <th >Операції</th>
        </tr>

        <tr th:each="staff : ${myStaffs}">
            <td th:text="${staff.recruitedStaffByStaffId.id}"/>
            <td th:text="${staff.recruitedStaffByStaffId.name}"/>
            <td th:text="${staff.recruitedStaffByStaffId.date}"/>
            <td th:text="${staff.recruitedStaffByStaffId.sex}"/>
            <td th:text="${staff.recruitedStaffByStaffId.countryByCountryId.name}"/>
            <td ><a th:href="@{'/me/deleteStaff/' + ${staff.id}}">Видалити</a></td>
        </tr>
        </tbody></table>


    <div th:if="${param.staff8error}">
        <div>
            You can`t to recruite ne staff, cause you have more than 8 staff. Please, remove one recruit from list and try again.
        </div>
    </div>
<br>




		

		<div sec:authorize="hasRole('ROLE_ADMIN')">
        This content is only shown to administrators.<br>
            <a th:href="@{'/agents'}">Робота з агентами</a>
            <a th:href="@{'/countries'}">Робота з краінами</a>
            <a th:href="@{'/recstaff'}">Робота з завербованим персоналом</a>
            <a th:href="@{'/agents/top10'}">ТОП 10 агентів</a>
    </div>



</div>

			</section>

		</div>
        <footer>
            <div class="content-wrapper">

                <table width="100%" border="0">
                    <tbody>
                    <tr><td>

                        FEIT| KI-143| Yevhenii Pshenychnyi | Oleksandr Derkach| All rights reserved - Secret Agency. © 2017</td>
                    </tr></tbody></table>


            </div>
        </footer>
    	
	</div>
</body></html>