<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml" lang="ua">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<title>Головна сторінка</title>
<link href="css/shared.css" rel="stylesheet" type="text/css"></link>
<link href="css/Site.css" rel="stylesheet" type="text/css"></link>
</head>
<body>
<br> </br>
<div class="box-wrapper">
	<header>
		<div class="content-wrapper">
			<table width="100%" cellspacing="0" cellpadding="0" border="0">
				<tbody><tr><td>

					<table cellspacing="10" cellpadding="0" border="0"><tbody><tr><td>
						<a href="/"><img class="no-border" th:src="@{images/log.gif}"></img></a></td>
						 &nbsp;&nbsp;

						<td style="padding-left:20px;" class="logo-area"></td>



					</tr></tbody></table>

				</td><td align="right">


<div sec:authorize="isAuthenticated()">
					<table cellspacing="10" cellpadding="0" border="0">





						<tbody><tr><td id="menutable" nowrap="nowrap"><a href="/me" class="menu">Моя сторінка</a></td>



							<td>

								<a th:href="@{'/logout'}" class="menu-backoffice"><img class="no-border" src="/images/agents-only.gif" alt="Agents Only Back Office"></a>

							</td>


						</tr></tbody></table></div>




				</td></tr></tbody></table>


		</div>
	</header>

	<div id="body">

<div id="mainBk">
		<section class="content-wrapper main-content clear-fix">

			<center><a th:href="@{'/login'}"><img src="/images/mainlog.gif"></a></center>
		</section>
</div>

	</div>


	<footer>
		<div class="content-wrapper">

			<table width="100%" border="0">
				<tbody>
				<tr><td>

					FEIT| KI-143| Yevhenii Pshenychnyi | Oleksandr Derkach| All rights reserved - Secret Agency. © 2017</td>
				</tr></tbody></table>


		</div>
	</footer>

</div>

</div></body></html>