<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" lang="ua">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<title>Головна сторінка</title>
<link href="css/shared.css" rel="stylesheet" type="text/css"></link>
<link href="css/Site.css" rel="stylesheet" type="text/css"></link>
</head>
<body>
<br> </br>
<div class="box-wrapper">
	<header>
		<div class="content-wrapper">
			<table width="100%" cellspacing="0" cellpadding="0" border="0">
				<tbody><tr><td>

					<table cellspacing="10" cellpadding="0" border="0"><tbody><tr><td>
						<a href="http://www.perkley.com/"><img class="no-border" src="images/log.gif"></img></a></td>
						 &nbsp;&nbsp;

						<td style="padding-left:20px;" class="logo-area"></td>



					</tr></tbody></table>

				</td><td align="right">



					<table cellspacing="10" cellpadding="0" border="0">





						<tbody><tr><td id="menutable" nowrap="nowrap"><a href="https://www.perkley.com/spy-resources/" class="menu">SPY RESOURCES</a></td>
							<td id="menutable"><a href="https://www.perkley.com/parents/" class="menu">PARENTS</a></td>

							<td id="menutable"><a href="https://www.perkley.com/shop/" class="menu">SHOP</a></td>



							<td>

								<a th:href="@{'/logout'}" class="menu-backoffice"><img class="no-border" src="images/agents-only.gif" alt="Agents Only Back Office"></img></a>

							</td>


						</tr></tbody></table>




				</td></tr></tbody></table>


		</div>
	</header>

	<div id="body">

		<section class="content-wrapper main-content clear-fix" >
	
			<center><h1> <a th:href="@{'/login'}">Сторінка авторизації</a></h1></center>
		</section>


	</div>


	<footer>
		<div class="content-wrapper">

			<table width="100%" border="0">
				<tbody>
				<tr><td>
					<a href="http://www.perkley.com/privacy-policy" class="colorGreen" style="text-decoration:none;" title="Read Privacy Policy" target="_blank">Privacy Policy</a>  |
					<a href="http://www.perkley.com/terms-of-use/" class="footer" title="Terms of Use" target="_blank">Terms Of Use</a> |
					<a href="https://www.perkley.com/contact/" class="footer" title="Contact Us">Contact Us</a>
					|  All rights reserved - Perkley, LLC. © 2012-2017</td>
				</tr></tbody></table>


		</div>
	</footer>

</div>
<img src="Perkley%20-%20Back%20Office_files/spacer.gif" width="1" height="10"></img>






<div role="log" aria-live="assertive" aria-relevant="additions" class="ui-helper-hidden-accessible"></div>
<div role="log" aria-live="assertive" aria-relevant="additions" class="ui-helper-hidden-accessible"></div>
<div role="log" aria-live="assertive" aria-relevant="additions" class="ui-helper-hidden-accessible">
</div></body></html>