<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ua"><head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<title>Сторінка авторизації</title>
		
		<link href="css\shared.css" rel="stylesheet" type="text/css">
		<link href="css\Site.css" rel="stylesheet" type="text/css">
			
			
</head>
    <body>

	<br>
	<div class="box-wrapper">

		<header>
			<div class="content-wrapper">				
				<table width="100%" cellspacing="0" cellpadding="0" border="0">
				<tbody><tr><td>
				
					<table cellspacing="10" cellpadding="0" border="0"><tbody><tr><td>
					<a href="http://www.perkley.com/"><img class="no-border" src="images\log.gif" ></a></td>
					<td> &nbsp;&nbsp;
					</td>
					<td style="padding-left:20px;" class="logo-area">СТОРІНКА АВТОРИЗАЦІЇ СЕКРЕТНОГО АГЕНТА</td>



					</tr></tbody></table>

				</td><td align="right">


				
				<table cellspacing="10" cellpadding="0" border="0">





					<tbody><tr><td id="menutable" nowrap="nowrap"><a href="../me/mypage.html" class="menu">Моя сторінка</a></td>






					</tr></tbody></table>
				



				</td></tr></tbody></table>
				

			</div>
		</header>

		<div id="body">
		
<section class="content-wrapper main-content clear-fix">
<div class="login-bg">
	<form th:action="@{/login}" method="post" style="display:inline;">
	<table cellspacing="0" cellpadding="5" border="0">
	<tbody>
	
		<td><img src="images/spacer.gif" width="50" height="364"></td>
		<td align="center">

		<br>
<table align="center" cellspacing="0" cellpadding="3" border="0">
<tbody><tr>
<h2>Введіть дані</h2>
	<td>
	Ім'я агента:<br><input id="username"  name="username" placeholder="логін" required="required" style="width:150px;" type="text"></td></tr>
<tr>
	<td>Код агента:<br><input id="password"  name="password" placeholder="код" required="required" style="width:150px;" type="Password"></td></tr>

<td align="left"><button type="submit" >Enter</button></td></td></tr>
</tbody></table>

	</td>
	<td><img src="images\spacer.gif" width="150" height="1"></td><td><img src="images\fingerprint_scan_animation.gif" alt="" width="139" height="169" border="0"></td>

</tbody></table>
</form>
<div th:if="${param.error}">
        <div>
            Введено невірні дані<br> або вас викрито!
        </div>
    </div>


</div>


</section>

</div>


		<footer>
			<div class="content-wrapper">
		
		<table width="100%" border="0">
		<tbody>
		<tr><td>
		<a href="#" class="colorGreen" style="text-decoration:none;" title="Read Privacy Policy" target="_blank">Privacy Policy</a>  |
		<a href="#" class="footer" title="Terms of Use" target="_blank">Terms Of Use</a> |
		<a href="#" class="footer" title="Contact Us">Contact Us</a>
		|  All rights reserved - Perkley, LLC. © 2012-2017</td>
</tr></tbody></table>

				
			</div> 
		</footer>
    	
	</div> 

    



	


</div></body></html>