<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"></meta>
    <title>Auth page</title>
</head>
<body>


<form th:action="@{/login}" method="post">
    <h2>Enter auth data</h2>
    <div th:if="${param.error}">
        <div>
            You entered wrong auth data or you were declassified!
        </div>
    </div>
    <input id="username" type="text" name="username" placeholder="login" required="required"/>
    <br/>
    <input id="password" type="password" name="password" placeholder="пароль" required="required"/>
    <br/>
    <div>
        <button type="submit">Войти</button>
    </div>
</form>

</body>
</html>